/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/storage/*.key
/storage/encrypted_api_requests
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
